body{
    padding: 0;
    margin:0;
    background-color:#d0e2ea;
    font-family: 'Brush Script MT', cursive;
    
}


header{
    background-color:#b7bec1;;

    margin:auto;
    font-size:56px;
    padding:16px;
    display:flex;
    justify-content:center;
    align-items:center;
    letter-spacing: 1px;
    color: #27a81f;
    text-shadow: 5px 2px 2px #0d350aa3;
    border-bottom: 3px solid #ae6c6c30;;

}

.container{

    width:660px;
    height:660px;
    display:grid;
    border:5px solid lightgreen;
    overflow:hidden;
    /* margin:auto; */
    margin-top: 64px;
    border-radius:8px;
    box-shadow:5px 3px 9px 14px rgb(132 124 124 / 40%);
    box-sizing: content-box;
}

.pixel{

    border:0.5px solid rgb(203, 199, 199);

}

.pixel-border{

    border:none;

}

.pixel:hover{

    background:red;
}

.section{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:160px;
    gap:120px;
    flex-wrap: wrap;

}


.slider {
    -webkit-appearance: none;
    height: 5px;
    background: #157c10;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    width: 100%;
    border-radius: 15px;
    height: 13px;
    box-shadow: 5px 5px 6px 2px #565955e8;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: #127df8;
    border-radius:50px;
    cursor: pointer;
    border:1px solid darkblue;
  }

.slider:hover{


    background-color:rgb(17, 28, 17);
}

.size {
    /* opacity: 0.9; */
    color: #034043;
    width: 100%;
    /* border: 1px solid brown; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #a2cee1;
    box-shadow: 8px 5px 6px 2px #828884;
    border-radius: 7px;
}

.button-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 200px;
    height: 545px;
    background-color: #a4b0b8;
    border-radius: 15px;
    box-shadow: 6px 7px 5px 2px #6c7374;
}

#favcolor {

    width:75px;
    height:75px;
    border-radius:5px;
}

#favcolor:hover {


    cursor:pointer;
}

button {
    border-radius: 5px;
    background: #3a4a526b;
    padding: 13px;
    width: auto;
    color: #120501;
    font-size: 16px;
    width: 70%;
    box-shadow: 4px 3px 5px 0px #6a786a;
    font-family: cursive;
    text-shadow: 5px 3px 5px #c1dabe;
}

button:hover{

    color: #e5d2cd;
    background: #01182f6b;
}

button:active{

transform: scale(1.1);
background:green;
}

.color-selector{

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}

label {
    font-size: 20px;
    color: #136813;
    text-shadow: 7px 4px 8px #635960f2;
    cursor:text;
}